# OS X
#
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode
#
build/
DerivedData/
xcuserdata/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
!xcshareddata
!xcschemes
*.xccheckout
# *.xccheckout
UserInterfaceState.xcuserstate

# CocoaPods
Pods/

# Apple ipa
*.ipa
*.zip
*.hmap
*.mobileprovision
dSYM/*
tmp/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Reveal framework
Reveal.framework

*.xcarchive
builds/*
.history
